*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-height: 100%;
  margin: 0;
  background: #eee;
}
.header{
  width: 100%;
  height: 84px;
  background-color: gray;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.nav,
.nav-logo {
  display: flex;
  -ms-align-items: center;
  align-items: center;
  }

.nav-logo {
  max-height: 60px;
  width: auto;
  margin-left: 32px;
}
.nav-links {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 64px;
  margin-right: 32px;

}
.main {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  padding-top: 4px;
  margin: 0 auto;
}
.animals {
  width: 100%;
  border-radius: 5px;
}

/*@media (max-width: 750px) {

  .container {
    flex-direction: column;
  }
  .animals {
    width: 100%;
  }
}*/

.container3 {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 0 auto;
}
.images {
  max-width: calc(100% / 3 - 8px);
  flex-direction: row;
}
.footer {
  height: 64px;
  background-color: gray;
  color: #fff;
}
